<h1> Historial </h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/historial/nuevo" class="btn">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table class="table table-striped mt-3 animated fadeIn faster">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Matricula</th>
        <th scope="col">Veterinario</th>
        <th scope="col">Animal</th>
        <th scope="col">Tipo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historial of historiales; let i = index">
        <td>{{historial.fecha}}</td>
        <td>{{historial.veterinario?.matricula}}</td>
        <td>{{historial.veterinario?.apellido}} {{historial.veterinario?.nombre}}</td>
        <td>{{historial.animal?.nombre}}</td>
        <td>{{historial.animal?.tipo?.descripcion}}</td>
        <td>{{historial.descripcion}}</td> 

        <td>
          <button class = "btn mr-1" [routerLink]="['/historial', historial.id]">
            <i class="fa fa-pen" aria-hidden="true"></i>          
          </button>
          <button class = "btn" 
            (click)="inactivarHistorial(historial, i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
     </tr>
    </tbody>
  </table>