.portada{
    width: 80vw;
    justify-content: space-between;
}

.portada .logo{
    width: 400px;
    height: 120px;    
    overflow: hidden;
    align-items: center;
    justify-content: right;
}

.portada .logo #logoimg{
    height: 70px;
}

.portada .logo h4{
    color: #3e3782;
}

.portada .home-portada h1{
    color: #3e3782; 
}

.card{
    background: #3f378200;
    display: flex;
    align-items: center;
    height: 180px;
    border: none;
}

.card:hover{
    transition: all 0.5s ease 0s;
    background: #3e3782;
    color: #fff;
    height: 100%;
}