
<div class="portada d-flex">
    <div class="home-portada d-flex align-items-center">
        <img src="assets/images/home/home-portada.png">
        <div>
            <h1>Bienvenidos</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam ex commodi reiciendis. Doloribus, eligendi ad.</p>
        </div>
    </div>
    <div class="logo d-flex">
        <h4>AniMania</h4>
        <img id="logoimg" src="assets/images/LogoAnimaniaVioletaSinFondo.png">
    </div>
</div>

<h4>Accesos directos</h4>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/images/home/animales.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Animales</h5>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/images/home/historial.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Historial</h5>
        </div>
      </div>

    <div class="card">
      <img class="card-img-top" src="assets/images/home/veterinario.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Veterinarios</h5>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/images/home/propietario.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Propietarios</h5>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/images/home/contacto.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Contacto</h5>
        </div>
      </div>
  </div>