<h1> Contacto </h1>
<hr>

<div class="perfiles d-flex animated fadeIn slow text-center">
    <div>
        <div class="logo">
            <img src="assets/images/logos/front.png" alt="">
        </div>
        
        <div class="card border-secondary mb-3 mt-3 mr-3" >
            <div class="card-header d-flex">Desarrollador Front End</div>
            <div class="card-body text-secondary">
              <h5 class="card-title"><strong>Matías Nicolás Fretes</strong></h5>
              <p class="card-text">Universidad Nacional General Sarmiento</p>
            <div class="iconos d-flex" style="justify-content: center;">
                <ul class="sci">
                    <li><a href="https://www.linkedin.com/in/matias-nicolas-fretes" target="_blank" title="Linkedin"><i class="fa fa-id-card" aria-hidden="true"></i></a> </li>
                    <li><a href="https://portfolio-fretes-matias.netlify.app/" target="_blank" title="Portfolio"><i class="fa fa-code" aria-hidden="true"></i></a> </li>
                    <li><a href="https://t.me/MatiasFretes10" target="_blank" title="Contacto"><i class="fa fa-phone-square" aria-hidden="true"></i></a> </li>
                </ul>
            </div>
            </div>
        </div>

    </div>

    <div >
        <div class="logo">
            <img src="assets/images/logos/back.png" alt="">
        </div>

        <div class="card border-secondary mb-3 mt-3 ml-3" >
            <div class="card-header d-flex">Desarrollador Back End</div>
            <div class="card-body text-secondary">
              <h5 class="card-title"><strong>David Helguero</strong></h5>
              <p class="card-text">Universidad Nacional General Sarmiento</p>

              <div class="iconos d-flex" style="justify-content: center;">
                <ul class="sci">
                    <li><a href="https://www.linkedin.com/in/david-helguero-09723a217/" target="_blank" title="Linkedin"><i class="fa fa-id-card" aria-hidden="true"></i></a> </li>
                    <li><a href="https://www.github.com/davidhelguero" target="_blank" title="Portfolio"><i class="fa fa-code" aria-hidden="true"></i></a> </li>
                    <li><a href="https://t.me/davidhelguero" target="_blank" title="Contacto"><i class="fa fa-phone-square" aria-hidden="true"></i></a> </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>

<hr>
<h3> Tecnologías </h3>
<div class="tecnologias d-flex animated fadeIn slow justify-content-center">
    <div class="tecno">
        <img src="assets/images/tecnologias/angular.png" alt="">
        <h5>Angular</h5>
    </div>
    <div class="tecno">
        <img src="assets/images/tecnologias/spring-boot.png" alt="">
        <h5>Spring Boot</h5>
    </div>
    <div class="tecno">
        <img src="assets/images/tecnologias/mysql.png" alt="">
        <h5>MySQL</h5>
    </div>
    <div class="tecno">
        <img src="assets/images/tecnologias/git.png" alt="">
        <h5>Git</h5>
    </div>
</div>


