<h1>Historia</h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn" routerLink="/historial">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )" #f="ngForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="animalSelect">Animal</label>
                  <select 
                      class="form-control" 
                      id="animalSelect"
                      name="id_animal"
                      [(ngModel)] = "historialRequest.id_animal"
                      [class.is-invalid]="id_animal.invalid && id_animal.touched"
                      required=""
                      minlength="1"
                      #id_animal="ngModel"
                  >
                  <option hidden>Seleccionar el animal</option>
                  </select>
                  <small *ngIf="id_animal.invalid && id_animal.touched"
                         class="form-text text-danger">Debe seleccionar un animal</small>
                </div>
                <div class="form-group col-md-6">
                  <label for="veterinarioSelect">Veterinario</label>
                  <select 
                      class="form-control" 
                      id="veterinarioSelect"
                      name="id_veterinario"
                      [(ngModel)] = "historialRequest.id_veterinario"
                      [class.is-invalid]="id_veterinario.invalid && id_veterinario.touched"
                      required=""
                      minlength="1"
                      #id_veterinario="ngModel"
                  >
                      <option hidden>Seleccionar el veterinario</option>
                  </select>
                  <small *ngIf="id_veterinario.invalid && id_veterinario.touched"
                        class="form-text text-danger">Debe seleccionar un veterinario</small>
                </div>
            </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">Descripción</label>
                
                <div class="text-center">
                    <textarea 
                    class="form-control" 
                    id="exampleFormControlTextarea1" 
                    rows="10"
                    cols = "62"
                    name="descripcion"
                    [(ngModel)] = "historialRequest.descripcion"
                    [class.is-invalid]="descripcion.invalid && descripcion.touched"
                    required
                    minlength="1"
                    #descripcion="ngModel"
                    ></textarea>

                    <small *ngIf="descripcion.invalid && descripcion.touched"
                         class="form-text text-danger">Completar una descripcion</small>
                </div>
              </div>

            <hr>
            <div class="for-group text-center">
                <button type="submit" class="btn w-30">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>