<h1> Veterinarios </h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/veterinario/nuevo" class="btn">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table class="table table-striped mt-3 animated fadeIn faster">
    <thead>
      <tr>
        <th scope="col">Matricula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Documento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let veterinario of veterinarios; let i = index">
        <td>{{veterinario.matricula}}</td>
        <td>{{veterinario.nombre}}</td>
        <td>{{veterinario.apellido}}</td>
        <td>{{veterinario.documento}}</td>
        <td>
          <button class = "btn mr-1" [routerLink]="['/veterinario', veterinario.id]">
            <i class="fa fa-pen" aria-hidden="true"></i>          
          </button>
          <button class = "btn" 
            (click)="inactivarVeterinario(veterinario, i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
     </tr>
    </tbody>
  </table>

<div *ngIf="!cargando && veterinarios.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
<h4 class="alert-heading">No hay registros</h4>
<p>
    <i class = "fa fa-exclamation fa-2x"></i>
</p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
    <i class = "fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class = "mb-0">
        Espere por favor
    </p>
</div>