.card{
    text-align: center;
    position: relative;
    color:#fff;
}

.card .pic .img{
    width: 100%;
}

.card .pic .title{
    background: rgba(0,0,0,0.6);
    text-align: center;
}

.card .content{
    background: rgba(26, 11, 57, 0.6);
    position:absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding-top:45%;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    opacity: 0;
}
.card:hover .content{
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
}

.card:hover .pic .title{
    opacity: 0;
}

.text-right .btn{
    background-color: #3e3782;
    color: #fff;
}

.text-right .btn:hover{
    color: #3e3782;
    background-color: rgb(255, 255, 255);
    border-color: black;
}
